<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1>edit {{post.title}} from {{user.full_name}}</h1>
    <form method="POST">
      <input
        type="text"
        name="title"
        placeholder="title of post"
        value="{{post.title}}"
      />
      <input
        type="text"
        name="content"
        placeholder="content of post"
        value="{{post.content}}"
        id="content"
      />
      <div class="form-check">
        {% for tag in tags %}
        <div>
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ tag.id }}"
            id="tag_{{ tag.id }}"
            {%
            if
            tag
            in
            post.tags
            %}checked{%
            endif
            %}
            name="tags"
          />
          <label class="form-check-label" for="tag_{{ tag.id }}">
            {{ tag.name }}
          </label>
        </div>
        {% endfor %}
      </div>

      <button>Submit Changes</button>
    </form>

    <div>
      <a href="/post/{{post_id}}">Cancel</a>
    </div>
  </body>
</html>
